
.Add{ 
  display:grid;
  grid-template-columns:auto auto;
  gap:10px;
  
}
.ImageUrl{
  margin-top:-50px!important;
  margin-left:128px!important;
  margin-bottom: 20px;
}
/* .register-form{
  margin-bottom: -50px;
} */
.register{
/*   background: -webkit-linear-gradient(left, #3931af, #00c6ff); */
background-image: url('https://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size:cover;
 /*  margin-top: -2%; */
  padding: 3%;
}
.register-left{
  text-align: center;
  color: #fff;
  margin-top: 3.5%;
}
.register-left input{
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 60%;
  background: #f8f9fa;
  font-weight: bold;
  color: #383d41;
  margin-top: 30%;
  margin-bottom: 3%;
  cursor: pointer;
}
.register-right{
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
} 
.register-left img{
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
.register-left p{
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
}
.register .register-form{
  padding: 10%;
  margin-top: 8%;
  margin-bottom: -40px;
}
/* .btnRegister{
  float: right;btn_contact
  margin-top: 10%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #0062cc;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
} */
.register .nav-tabs{
  margin-top: 3%;
  border: none;
  background: #0062cc;
  border-radius: 1.5rem;
  width: 28%;
  float: right;
}
.register .nav-tabs .nav-link{
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
  border: none;
}
.register .nav-tabs .nav-link.active{
  width: 100px;
  color: #0062cc;
  border: 2px solid #0062cc;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.register-heading{
  text-align: center;
  margin-top: 3%;
  margin-bottom: -15%;
  color: #495057;
}

  /* style profile */
   
.margin {
    margin: 0 8%;
    padding-top:55px
  }
  
  .contact {
    text-align: center;
    margin-left:20px;
    margin-top:60px;
    color:#4b4949;
    font-weight: 400;
    font-family: Calibri, sans-serif;
    font-size: 18.12554px;
  }
  
  *:focus {
    outline: none;
  }
  
  .inputGroup {
    position: relative;
    margin-bottom: 20px;
   
  }
  
  .inputGroup label {
    position: absolute;
    top: 0;
    left: 5px;
    pointer-events: none;
    transition: all 0.3s ease;
    font-size: 16px;
    font-family: Trebuchet MS;
    color: #d1819c;
    font-weight: 500;
    text-transform: uppercase;
    width:350px
  }
  
  .inputGroup .input_contact,
  .inputGroup textarea {
    display: block;
    width: 280px;
    border: none;
    border-bottom: 1px solid #757575;
    left: 25px;
    padding: 5px;
    font-family: Trebuchet MS;
    background: none;
    color: #333;
  }
  
  .inputGroup .input_contact:focus ~ label,
  .inputGroup .input_contact:valid ~ label,
  .inputGroup textarea:focus ~ label,
  .inputGroup textarea:valid ~ label {
    top: -20px;
    transition: all 0.3s ease;
    font-size: 13px;
  }
  
  .inputGroup .input_contact:focus ~ .inputBar:before,
  .inputGroup .input_contact:focus ~ .inputBar:after,
  .inputGroup textarea:focus ~ .inputBar:before,
  .inputGroup textarea:focus ~ .inputBar:after {
    width: 50%;
  }
  
  .inputGroup textarea {
    height: 100px;
    width: 280px;
    overflow: auto;
    resize: none;
  }
  
  .inputGroup .inputBar {
    position: relative;
    display: block;
    width: 290px;
  }
  
  .inputGroup .inputBar:before,
  .inputGroup .inputBar:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 0;
    background: #d1819c;
    height: 2px;
    transition: all 0.2s ease;
  }
  
  .inputGroup .inputBar:after {
    right: 50%;
  }
  
  .inputGroup .inputBar:before {
    left: 50%;
  }
  
  .btn_contact {
    background-color: white;
    border: none;
    padding: 15px 0;
    margin: 0 0 -25rem 15rem!important;
    width: 290px;
    color: #d1819c;
    text-transform: uppercase;
    font-family: Trebuchet MS;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 6px #d1819c;
    position: relative;
    cursor: pointer;
  
  }
  
  .btn_contact:hover {
    box-shadow: 0 4px #a1a1a1;
    top: 2px;
  }
  
  .btn_contact:active {
    top: 6px;
    box-shadow: 0 0;
  }
   

/* title designer animation *//* 
.style{
  font-family: "Archivo Black", sans-serif;
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-top: -25rem;
  margin-left:27rem
}

.words {
  color: #d29daf;
  font-size: 0;
  line-height: 1.5;
}

.words span {
  font-size: 2.8rem;
  display: inline-block;
  animation: move 3s ease-in-out infinite;
}

@keyframes move {
  0% {
    transform: translate(-30%, 0);
  }
  50% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
  }
  100% {
    transform: translate(30%, 0);
  }
}

.words span:nth-child(2) {
  animation-delay: 0.5s;
}

.words span:nth-child(3) {
  animation-delay: 1s;
}

.words span:nth-child(4) {
  animation-delay: 1.5s;
}

.words span:nth-child(5) {
  animation-delay: 2s;
}

.words span:nth-child(6) {
  animation-delay: 2.5s;
}

.words span:nth-child(7) {
  animation-delay: 3s;
}

@media (max-width: 1332px) {
  .container_contact{
    max-width: 1100px ;
  }
  .form{
    margin-left:-30px
  }

  .style{
    margin-top:-27rem;
 
  }
 
}

@media (max-width: 1232px) {
  .container_contact{
    max-width: 1000px ;
  }
  .contact{
    margin-top:5px;
    margin-top:50px
  }
}

@media (max-width: 1050px) {
  .container_contact{
    max-width:900px ;
  }
  .contact{
    margin-left:20px;
    margin-top:10px
  }
  .words {
 
    margin-top:20px;
    margin-left:-80px
  }
  .words span {
    font-size:30px;
    
  }
}

@media (max-width: 950px) {
  .container_contact{
    max-width:800px ;
  }
  .contact{
    margin-left:15rem
  }
  .words {
    margin-top:20px;
    margin-left:-80px
  }
  .words span {
    font-size:25px;
    
  }
}
@media (max-width: 850px) {
  .container_contact{
    max-width:700px ;
  }
  .contact{
    margin-left:250px;
    margin-top:25px
  }
  .words {
 
    margin-top:20px;
    margin-left:-80px
  }
  .words span {
    font-size:25px;
    
  }
}
@media (max-width: 750px) {
  .container_contact{
    max-width:600px ;
  }
  .words {
    color: #d29daf;
    margin-top:20px;
    margin-left:-80px
  }
  .words span {
    font-size:25px;
    
  }
  .contact{
    margin-left:270px;
    margin-top:30px
  }
}
@media (max-width: 650px) {
  .container_contact{
    max-width: 500px ;
  }
  .style{
    display:none
  }
  .form{
    margin-left:50px;
  
  }
  .words {
    margin-top:20px;
    margin-left:-80px
  }
  .words span {
    font-size:25px;
    
  }
  .contact{
 
    margin-left:-40px
  }
}
@media (max-width: 550px) {
  .container_contact{
    max-width: 400px ;
  }
} */