

.cartitem{
  width: 100%;
  padding: 1rem;
  margin-bottom: 8px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
  gap:8px;
  background:transparent;
  border-radius: 2px;
  place-items: center;
  border-radius:0 5%/ 20% 50% ; 
  
  box-shadow: 6px 2px 5px 3px rgb(206, 206, 206);
}
/* imageUrl */
.cartitem__img__add {
  width: 30%;
  height: 100%;
  object-fit:cover;
  border-radius: 10px;
  -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
  transform-origin:center;
  transform:perspective(800px) rotateY(25deg);
  transition:0.5s;
} 
.cartitem__img img{
   width:100px;
}
 .cartitem__img:hover img {
  opacity:0.3;
}
.cartitem__img  img:hover {
  transform:perspective(800px)       rotateY(0deg);
  opacity:1;
} 
.cartitem__name{
  text-decoration: none;
  color:#220202;

}

.cartitem__name:hover{ 
  color:#b3c232;
}

.cartitem__select{
  padding :10px 17px ;
}

.cartitem__deleteBtn{
  padding: 10px 17px;
  color:red;
  background:#f4f4f4;
  border: 1px solid #171717;
  cursor: pointer;
  transition : all 0.3s ease-out;
}

.cartitem__deleteBtn:hover,
.cartitem__deleteBtn:focus,
.cartitem__deleteBtn:active{ 
  background: #171717;
  transform: scale(1.2);
}

@media (max-width:700px){
  .cartitem__name{
      font-size: 0.8rem;
  }

  .cartitem__select,
  .cartitem__deleteBtn{
      padding: 8px 13px;
  }

  .cartitem__price{
   font-size: 0.8rem;
  }
}

@media (max-width:500px){
  .cartitem__name{
      font-size: 0.6rem;
  }

  .cartitem__select,
  .cartitem__deleteBtn{
      padding: 5px 8px;
  }

  .cartitem__price{
   font-size: 0.6rem;
  }
}