
.containerCartCmd{
  background:white
}
.product__infoCmd{
  display: grid;
  grid-template-columns: 300px 200px 200px 300px;
  list-style: none;
  box-shadow: 6px 2px 5px 3px rgb(206, 206, 206);
  transition: transform .2s;
  font-family: Josefin Slab; 
  font-size: medium;
  line-height: 30px;
  height: 100px;
  padding: 5px;
  color: black;
  border-radius: 10px;
  margin-left: 30px ;  
  margin-top:10px;
  width: auto;
  background:#f1f0f0;
}

.product__infoCmd :hover {
  transform: scale(1.1);
   
}

.picture{
  float: left;
  margin-top: -10px;
  border-radius: 50%;
  box-shadow: 0 0 50px rgb(255, 254, 254);
  transform: skew(0deg, 12deg);
} 
.commandeCart{
display:grid;
grid-template-columns: 120px 500px 200px 200px ;

grid:10px;


}

.infoCmd__name,  .infoCmd__qty {
  margin-left:60px;
  margin-top:30px;
  font-family: 'Dancing Script', cursive; 
  font-size:14px;
  font-weight: 300;
}

.spanTnd{
  font-family: 'Dancing Script', cursive; 
  font-size:14px;
  font-weight: 300;
}

.infoCmd__price{
  margin-left:80px;
  margin-top:30px  
}