.containerCmd{
width: 100%
}
.CommandList{
    display:flex;
    border-radius:  0 10%/ 20% 50% ;
    box-shadow: 6px 2px 5px 3px rgb(206, 206, 206);
    margin:3px 20px 20px 3px ;
    font-family: 'Dancing Script', cursive; 
    background:white;
   background-image:url('https://images.unsplash.com/photo-1622547748225-3fc4abd2cca0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80')!important;
   background-size: cover;
   background-attachment: fixed;

}
.commandList__ligne{
    display:block;
    margin-top:15px!important;
    margin-left:10px;
    margin-right:40px; 
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.chariot{
    height:20px
}
h6{
    margin-left:45rem;
    margin-top:5px;
    padding-bottom: 10px;
    font-weight: bold;
}

h5{
   margin-left:20px;
   margin-bottom: -5px;
}

h5:hover{
border-bottom: 2px solid balck;
border-bottom: 20%/10%;

}

@media (min-width:1360px){
   .CommandList{
   margin:5px  100px 15px 100px
   }
}
@media (min-width:1159px){
   .CommandList{
      
       margin:5px 100px 15px 100px
       }
}
@media (min-width: 800px) and (max-width:940px) {
   .total{
     margin-left:20px
   }
}
@media (min-width: 700px) and (max-width:800px) {
    .total{
       margin-left:20px
    }
 }
 @media (min-width: 600px) and (max-width:700px) {
    .total{
       margin-left:20px
    }
 }
 @media (min-width: 570px) and (max-width:600px) {
    .total{
       margin-left:20px
    }
 }
 @media (min-width: 500px) and (max-width:570px) {
    .total{
       margin-left:20px
    }
 }