
.navbar {
  width: 100%;
  height: 110px;
  background-color: #0d0e0d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  z-index: 50;
  position: fixed; 
  margin:-10rem auto ;
 }



h1{
  font-size:20px;
  margin-right:-30px;
  text-transform:capitalize;
}

.link2{
  text-decoration: none;
}

h1:hover, .fas:hover{
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;

}
.fas{
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;

}
.navbar__logo h2 {
  color: #f4f4f4;
  font-size: 1.4rem;
  cursor: pointer;
}

.navbar__links {
  display: flex;
  list-style: none;
  align-items: center;
   margin-left:30%;
  margin-right: 10%; 
}
/*style nav*/
.navbar__links li{
  color: #FFF;
  text-decoration: none;
  font: 20px Raleway;
margin : 0 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
  font-family: 'Source Code Pro', monospace;
}

/* Top and Bottom borders come in */
.topBotomBordersIn li:before, .topBotomBordersIn li:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.topBotomBordersIn li:before
{
    top: 0px;
    transform: translateY(-10px);
}

.topBotomBordersIn li:after
{
    bottom: 0px;
    transform: translateY(10px);
}

.topBotomBordersIn li:hover:before, .topBotomBordersIn li:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}

.navbar__links > li {
  padding-left: 1.2rem;
}
.navbar__links > li > a {
  text-decoration: none;
  color: #f4f4f4;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.navbar__links> li > a > span {
  display: flex;
  align-items: center;
  margin-left: 8px;
}
.navSign{
  display: flex;
  list-style: none;
  align-items: center;

  
}
.navSign p {
   margin-left:20px ;
  color: #FFF;
  text-decoration: none;
  font: 20px Raleway;
  margin: 0px 15px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}
.navCount{
  display: flex;
  
}
.signNav{
  text-decoration: none;
  color:#ff65bd
}

.cart__link {
  background: #333;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;

}
.cart__link p{
  text-decoration: none;
}
.cart__link:hover {
  
  color: #f4f4f4;
}

.cartlogo__badge{
  width: 30px;
  height: 30px;
  background-color: #f4f4f4;
  border-radius: 50%;
  margin-left: 8px;
  color: #79b694;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 5px;
}
.hamburger__menu {
  display: none;
  width: 30px;
  height: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-left: 90%;
}
.hamburger__menu:hover > div {
  background: #dd219e;
}

.hamburger__menu > div {
  width: 100%;
  height: 3px;
  background: #f4f4f4;
}

/*Designe Logo*/

@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}
.MuiBox-root{
    padding: 0 !important;
}

.navbar {
  background-color: #141114;
  background-image: linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px),
    linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;  
 
}
.MuiBox-root-7{ 
    padding: 0 !important;
}

.MuiBox-root-21{
    padding: 0 !important;
}

.sign {
  position: absolute;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #6b1839,
    transparent
  );
  transform: translate(-50%, -50%);
  letter-spacing: 2px;
  word-spacing: 10% !important;
  width: 100%;
  left: 53%;
  top: 50%;
  font-family: "Clip";
  text-transform: uppercase;
  font-size:20px;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
  
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

.flicker1 {
  animation: shine 2s forwards, blink 3s 2s infinite;
    margin-left:40px; 
  
}

.fast-flicker1 {
  animation: shine 2s forwards, blink 10s 1s infinite;

}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

.part1 {
  display: flex;
}

 .part2{
  display: flex;
  float:left
} 

/*end*/

@media (max-width:1250px){
.sign{

  padding-left:10px; 
  font-size:20px;

  }
  .navbar__links{
    margin-left:300px
  }

}

@media (max-width:1150px){
  .topBotomBordersIn,.navbar__logo2,.navSign{
    display: none;
  }
  .hamburger__menu {
    display: flex;
    color:black
  }
  }
@media (max-width: 960px) {
  .topBotomBordersIn,.navbar__logo2,.navSign{
    display: none;
  }

  .hamburger__menu {
    display: flex;
    color:black
  }

}

@media (max-width: 500px) {
  .navbar__logo h2 {
    font-size:50px;
  }
}

 
/* mm */
.words {
  color: #eee;
  font-size: 0;
  line-height: 1.5;}
/***words****/
.words span {
  font-size: 3rem;
  display: inline-block;
  animation: move 3s ease-in-out infinite;
}

@keyframes move {
  0% {
    transform: translate(-30%, 0);
  }
  50% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
  }
  100% {
    transform: translate(30%, 0);
  }
}

.words span:nth-child(2) {
  animation-delay: 0.5s;
}

.words span:nth-child(3) {
  animation-delay: 1s;
}

.words span:nth-child(4) {
  animation-delay: 1.5s;
}

.words span:nth-child(5) {
  animation-delay: 2s;
}

.words span:nth-child(6) {
  animation-delay: 2.5s;
}

.words span:nth-child(7) {
  animation-delay: 3s;
}
