/* 
.priceContainer{
    display: flex;    
    border: 1px solid black;
    width: auto;
    justify-content: center;
    margin: 20px auto;
    padding: 5px;
    transition: opacity 500ms ease-in-out;
    border-radius: 15px;
    background-color: aqua;
    opacity: 0.65;
    height:50px;
    align-items: center;
    border: none;
}
.DropDown{
    margin-top:-15px;
    margin-bottom: -40px;
}
.price{
    width: 300px;
    font-family: 'Anton', sans-serif;
    word-spacing: 5px;
}

.button{
    width: 60px;
    border: none;
    background-color: aqua;
}

.trash-btn{
    padding: 50px;
}

h5{
    word-spacing: 5px;
}

.product{
    width:300px;
    padding: 1rem;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
  }
  
 
  .product > img {
    width: 100%;
    height: 60%;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: -30px;
  }
  .product__info >p{
      margin-bottom: 8px;
  }
  
  .info__price{
      font-weight: bold;
  }
  
  .info__name { 
      font-size: 1rem;
      overflow: hidden;
      margin-top:-50px
  }
  
  .info__description{
      font-size: 0.8rem;
  }
  
  .info__button{
      display:block;
      width: 100%;
      text-decoration: none;
      text-align :center;
      color: #171717;
      background: #f4f4f4;
      padding:8px 16px;
      border: 1px solid #171717;
      font-size:1rem;
  }
  
  .info__button:hover{
      background: #171717;
      color: #f4f4f4;
  }
  
  @media (max-width:1232px){
   .product{
       width:360px;
   }
  }
  
  @media (max-width:1115px){
      .product{
          width:330px;
      }
     }
  @media (max-width:1028px){
      .product{
          width:300px;
      }
  }
  
  @media (max-width:950px){
      .product{
          width:400px;
      }
     }
  
  @media (max-width:830px){
      .product{
          width:330px;
      }
  }
  
  @media (max-width:700px){
      .product{
          width:290px;
      }
     }
  
     @media (max-width:630px){
      .product{
          width:450px;
      }
     }
  
     @media (max-width:500px){
      .product{
          width:350px;
      }
     }
  
     @media (max-width:400px){
      .product{
          width:300px;
      }
     } */