/* body {
    font-family: "Helvetica Neue", Helvetica, Arial; 
} */
.container1{
    display:grid;
    grid-template-columns: auto auto auto;
    max-width: 1300px ;
    margin: 10rem auto;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

.container_Login {
    width: 348px;
    /* max-width: 406px; */
    margin:50px 0 0 150px;
}

.container_Register{
  margin-bottom: 50px;

}

.vertical-line{
    border-left: 3mm ridge rgba(134, 111, 145, 0.6); 
    border-radius: 10px 10px ;
    display: inline-block;
    height:auto;
    
    margin-top:30px;
    margin-bottom: 30px;
    
}

#signup {
    padding: 0px 25px 25px;
    background: #fff;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
    margin-top:30px;
    width: 150px; 
}

#signup .header {
    margin-bottom: 20px;
}

#signup .header h3 {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

#signup .header p {
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 300;
}

#signup .sep {
    height: 1px;
    background: #e8e8e8;

    margin: 0px -25px;
}

#signup .inputs {
    margin-top: 25px;
}

#signup .inputs label {
    color: #8f8f8f;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
}

.input_login::-webkit-input-placeholder {
    color:    #b5b5b5;
}

.input_login:-moz-placeholder {
    color:    #b5b5b5;
}

#signup .inputs .input_login[type=email], .input_login[type=password] {
    background: #f5f5f5;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 250px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
}
/* register */
#signup .inputs .input_login[type=firstname], .input_login[type=lastname] {
    background: #f5f5f5;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 300px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
}
#signup .inputs .input_login[type=firstname]:focus, .input_login[type=lastname]:focus {
    background: #fff;
    box-shadow: 0px 0px 0px 3px #facae5, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
    outline: none;   
}
/* ens register */
#signup .inputs .input_login[type=email]:focus, .input_login[type=password]:focus {
    background: #fff;
    box-shadow: 0px 0px 0px 3px #facae5, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
    outline: none;   
}

#signup .inputs .checkboxy {
    display: block;
    position: static;
    height: 25px;
    margin-top: 10px;
    clear: both;
}

#signup .inputs .input_login[type=checkbox] {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

#signup .inputs label.terms {
    float: left;
    font-size: 14px;
    font-style: italic;
}

#signup .inputs .submit {
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
        background: -moz-linear-gradient(
        top,
        #facae5 0%,
        #facae5);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#b9c5dd),
        to(#a4b0cb));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
}

#signup .inputs .submit:hover {
    background: -moz-linear-gradient(
        top,
        #a4b0cb 0%,
        #b9c5dd);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#a4b0cb),
        to(#b9c5dd));
}


@media (max-width: 1332px) {
     .container1 {  
        max-width: 1000px ;
     }
     .container_Login {
        width: 308px;
        margin:50px 0 0 100px;
    }
    
    .container_Register{
      margin-bottom: 50px;
    
    }
  }
  
  @media (max-width: 1232px) {
 
  }
  
  @media (max-width: 1050px) {
    .container1 {  
        max-width: 880px ;
     }
     .container_Login {
        width: 308px;
        margin:50px 0 0 50px;
    }
    
    .container_Register{
      margin-bottom: 50px;
    
    }
  }
  
  @media (max-width: 950px) {
    .container1 {  
        max-width: 800px ;
     }
     .container_Login {
        width: 308px;
        margin:50px 0 0 50px;
    }
    
    .container_Register{
      margin-bottom: 50px;
    
    }
  }
  @media (max-width: 850px) {
    .container1 {  
        max-width: 730px ;
     }
     .container_Login {
        width: 308px;
        margin:50px 0 0 15px;
    }
    
    .container_Register{
      margin-bottom: 50px;
    
    }
  }
  @media (max-width: 750px) {
   .container1{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 550px ;
   }
   .container_Login {
   
    margin:50px 0 0 130px;
}

.container_Register{
    margin:-50px 0 50px 100px;
    
}
  }
  @media (max-width: 650px) {
    .container_contact{
      max-width: 500px ;
    }
    .style{
      display:none
    }
    .form{
      margin-left:50px;
    
    }
    .words {
      margin-top:20px;
      margin-left:-80px
    }
    .words span {
      font-size:25px;
      
    }
    .contact{
   
      margin-left:-40px
    }
  }

@media (max-width: 550px){
    .container1{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        max-width: 1300px ;
        margin: 10rem auto;
        border-radius: 6px;
        box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
    }
    
}